/* div{
    width: 100%;
    height: auto;
} */

div.info{
    width: 10%;
    float:left;
}



div.mapper{
    width: 45%;
    float:left;
    text-align : center;
    /* border: 1px solid black; */

}

.box1{
    width: 400px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 50px;
    border-width: 10px;
    background-color: lightgrey;
}

.p1{
    width:7%;
    /* height: 40px; */
    /* margin-bottom: 20px; */
    padding: 30px;
    border-width: 10px;
    float: left;
    background-color: grey;

}

.p2{
    width:7%;
    /* height: 40px; */
    /* margin-bottom: 20px; */
    margin-left: 10px;
    padding: 30px;
    border-width: 10px;
    float: left;
    background-color: grey;

}

.p3{
    width:7%;
    /* height: 40px; */
    /* margin-bottom: 20px; */
    margin-left: 10px;
    padding: 30px;
    border-width: 10px;
    float: left;
    background-color: grey;

}

.p4{
    width:7%;
    /* height: 40px; */
    /* margin-bottom: 20px; */
    margin-left: 10px;
    padding: 30px;
    border-width: 10px;
    float: left;
    background-color: grey;

}

div.reducer{
    width: 45%;
    float: right;
    text-align : center;
    /* border: 1px solid black; */
}



div.vl {
    border-left: 1px solid #000;
    height: 500px;
}

.hostname{
    display: table;
    height: auto;

}

.max{
    display: table-cell;
    vertical-align: middle;
}


  

