<!DOCTYPE html>

<head>
    <meta charset="utf-8" http-equiv="refresh" content={{data.interval}}>
    <title>BOAZ Adv</title>
    <link href="static/css/index.css" rel="stylesheet" type="text/css">
    
</head>

<body>
    <div>
        <div class="info">
            <!--The Number of Active Nodes-->
            Active Nodes<br>
            {{ data.workers|length }}<br><br>

            <!--Running App-->
            {% for i in data.apps %}
            {{ i }}
            <br>
            {% endfor %}
        </div>


        <!-- Mapper Progress -->
        <div class="mapper">
        {% for i in data.workers %}
            <div class="hostname">
                {{ i }}<br>
                <div class="box1">
                    <!-- box1<br> -->
                    <div class="tasks">
                        <div class="p1">
                            p1
                        </div>

                        <div class="p2">
                            p2
                        </div>
                        <div class="p3">
                            p3
                        </div>
                        <div class="p4">
                            p4
                        </div>
                    </div>
                </div>

                <div class="max">
                    <br>
                    <br>
                    max
                </div>

                
            </div>
        {% endfor %}
        </div>
        
        
        <!-- Reducer Progress -->
        <div class="reducer">
            Host Name

        </div>
    </div>

    


</body>