<!DOCTYPE html>

<head>
    <meta charset="utf-8" http-equiv="refresh" content={{data.interval}}>
    <title>BOAZ Adv</title>
    <link href="static/css/index.css" rel="stylesheet" type="text/css">
    
</head>

<body>
    <div>
        <div class="info">
            <!--The Number of Active Nodes-->
            Active Nodes<br>
            {{ data.workers|length }}<br><br>

            <!--Running App-->
            {% for i in data.apps %}
            {{ i }}
            <br>
            {% endfor %}
        </div>


        <!-- Mapper Progress -->
        <div class="mapper">
        {% for i in range(data.workers|length) %}
            {{ data.workers[i] }}<br>
            <div class="hostname">
                <div class="box1">
                    {% for map_tasks in data.mappers[i] %}
                        
                            <div class="p1">
                                {{ map_tasks }}
                            </div>
                    {% endfor %}
                </div>

                <div class="max">
                    {{ data.mappers[i]|length }}
                </div>

                
            </div>
                    
        {% endfor %}
        </div>

        <div class="blank">
            <br>
        </div>
        
        
        <!-- Reducer Progress -->
        <div class="reducer">
            Host Name

        </div>
    </div>

    


</body>