<!DOCTYPE html>

<head>
    <meta charset="utf-8" http-equiv="refresh" content={{data.interval}}>
    <title>BOAZ Adv</title>
    <link href="static/css/index.css" rel="stylesheet" type="text/css">
    <script src="static/js/index.js"></script>
</head>

<body>
    <div>
        <div class="info">
            <!--The Number of Active Nodes-->
            Active Nodes<br>
            {{ data.workers|length }}<br><br>


            <!--Running App-->
            {% for idx in range(data.apps|length) %}
                {{ data.apps[idx][1] }} &nbsp;
                <span onclick="move({{ data.apps[idx][0] }})">{{ data.apps[idx][0] }}</span>
                <br>
            {% endfor %}



            

            

            

            
            
        </div>


        <!-- Mapper Progress -->
        <div class="mapper">
        {% for i in range(data.workers|length) %}
            {{ data.workers[i] }}<br>
            <div class="hostname">
                <div class="progress">
                    {% if data.mappers[i]|length <= 9 %}       
                        {% for map_tasks in data.mappers[i] %}
                                <div class="task">
                                    <div class="graph">
                                        <br><br>
                                        {{ map_tasks }}
                                    </div>
                                </div>
                        {% endfor %}
                    {% else %}
                        {% for idx in range(8) %}
                                <div class="task">
                                    <div class="graph">
                                        <br><br>
                                        {{ data.mappers[i][idx] }}
                                    </div>
                                </div>
                        {% endfor %}
                        <br>...
                    {% endif %}

                </div>

                <div class="max">
                    {{ data.mappers[i]|length }}
                </div>

                
            </div>
                    
        {% endfor %}
        </div>

        <div class="blank">
            <br>
        </div>
        
        
        <!-- Reducer Progress -->
        <div class="reducer">
        {% for i in range(data.workers|length) %}
            {{ data.workers[i] }}<br>
            <div class="hostname">
                <div class="progress">
                    {% for reducer_tasks in data.reducers[i] %}
                        
                            <div class="task">
                                {{ reducer_tasks }}
                            </div>
                    {% endfor %}
                </div>

                <div class="max">
                    {{ data.reducers[i]|length }}
                    <br>
                </div>

                
            </div>
                    
        {% endfor %}

        </div>
    </div>

    


</body>